<div class="card mt-4 p-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dolores voluptatem, fugit deserunt voluptate quae totam. Natus eligendi asperiores necessitatibus eaque dignissimos, ut beatae dolore, placeat, veniam totam aliquid quos.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis culpa, nam molestias dolore dolor officiis harum. Minus iusto soluta voluptate totam atque quidem debitis eos. Unde a culpa quibusdam.</p>
    <a href="http://www.github.com/geracons" target="_blank" "btn btn-primary btn-lg">Github</a>

</div>

